body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffcbd4, #ff4464);
    text-align: center;
    font-family: "SN Pro", "Arial";
    color: #450922;
    min-height: 100vh;
}

body .loader{
    justify-self: center;
    position: relative;
    top: 200px;
    z-index: 2;
}

header {
    width: 100vw;
    height: 20vh;
}

.logo-container {
    width: 60vw;
    justify-self: center;
    background: radial-gradient(#ff66aa, #ffb344);
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 12vh;
    align-items: center;
}

.logo-text {
    font-size: 1vw;
    margin: 0;
    padding: 5px;
    color:#ff9700;
}

span {
    color: #450922;
}

.promotion a {
    color: #ff9700;
    font-family: 'SN Pro';
    font-size: 14px;  
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.promotion {
    background-color: #ff4464;
    height: fit-content;
    align-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a {
    margin: 0 8px 2px 8px;
    text-decoration: none;
    color:#450922;
    font-size: 16px;
}

h3 {
    font-size: 0.95rem;
    margin: 0;
}

.product-page {
    filter: blur(8px);
}

.stars {
    color: #ff9700;
    margin: 5px 0 0 0;
    font-size: 2rem;
    animation-name: stars;
}

.product-info {
    position: relative;
}


.sold-out {
    background-color: #b19297;
    border-radius: 11px;
    font-family: 'SN Pro';
    margin-top: 5px;
    border-color:#ab772b;
    font-size: .7rem;
    font-weight: bold;
    padding: 2px 5px;
}

.price {
    font-size: large;
}

.grid-container {
    display: grid;
    grid-template-columns: 12vw auto;
    margin: 10vw 10vw 5vw 10vw;
}

.small-images img{
    width: 12vw;
    height: 12vw;
    display: block;
    margin: 2vw;
}

p {
    margin: 2vw 10vw 10vw;
}

.large-img img {
    height: 54vw;
    margin-top: 2vw;
}
footer {
    background-color: #ff9700;
    padding: 10px;
    position: absolute;
    width: 100vw;
}
    
.footer-info {
    margin: 10px;
} 

.add-to-cart {
    padding: 2px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
    background: #ffcbd4;
    overflow: hidden;
    border: 2px solid #ff0a78;
    color: #ff0a78;
    border-radius: 20px;
    font-family: 'SN Pro';
    margin-top: 5px;
    font-size: 0.7rem;
}

button {
    background: #ff9700;
    color: #450922;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 25%;
    transition: background 0.3s;
    font-family: "Concert One";
    margin: 2vw;
}

button:hover {
    background: #ff0a78;
}
.logo-text span {
    display: inline-block;
    font-size: 4vw;
    animation: wave 3s ease-in-out infinite;
}

.logo-text span:nth-child(1) {
    animation-delay: 0s;
}
.logo-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.logo-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.logo-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.logo-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.logo-text span:nth-child(6) {
    animation-delay: 1s;
}
.logo-text span:nth-child(7) {
    animation-delay: 1.2s;
}
.logo-text span:nth-child(8) {
    animation-delay: 1.4s;
}
.logo-text span:nth-child(9) {
    animation-delay: 1.6s;
}
.logo-text span:nth-child(10) {
    animation-delay: 1.8s;
}
.logo-text span:nth-child(11) {
    animation-delay: 2.0s;
}
.logo-text span:nth-child(12) {
    animation-delay: 2.2s;
}
.logo-text span:nth-child(13) {
    animation-delay: 2.4s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after,
.underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0a78;
    bottom: 0;
    left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
    
}

.underline:hover::after,
.underline:hover::before {
  transform: scaleX(1);
}

li a:hover {
    color: #ff0a78;
}

span:hover{
    color:#ff0a78;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #ff4464;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}