body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffcbd4, #ff4464);
    text-align: center;
    font-family: "SN Pro", "Arial";
    color: #450922;
    min-height: 100vh;
}

header {
    width: 100vw;
}

.logo-container {
    width: 60vw;
    justify-self: center;
    background: radial-gradient(#ff66aa, #ffb344);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    min-height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product a{
    text-decoration: none;
    color: #ff0a78;
}

.logo-text a {
    color:#450922;
    text-decoration: none;
}

.logo-text {
    float: left;
    font-size: 1rem;
    margin: 0;
}

.promotion a {
    color: #ff9700;
    font-family: 'SN Pro';
    font-size: .7rem;  
}

h1 {
    font-size: 1.3rem;
}

.promotion {
    background-color: #ff4464;
    height: 4vh;
    align-content: center;
}

.headline {
    font-family: "Concert One";
    font-size: 5vw;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a {
    padding: 4px 16px;
    text-decoration: none;
    color:#450922;
    font-size: 15px;
    margin: -3px;
}

.launch {
    
    align-content: center;
    margin: 7vw;
    padding: 1vw;
    margin-top: 60px;
}

body .launch {
    justify-self: center;
}

.image img {
    height: 180px;
    width: 180px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    position: relative;
    top: -16px;
    left: -4px;
    border-style: solid;
    border-color:#ff0a78;
    border-width: 4px;
    border-bottom: none;
}

.product {
    margin: 15px;
    height: 300px;
    width: 180px;
    justify-self: center;
    align-content: center;
    background-color: #ffe6cb;
    border-radius: 15px;
    border: solid 4px #ff0a78;
}

h3 {
    font-size: 0.95rem;
    margin: 0;
}

h4 {
    font-size: 0.75rem;
    margin: 0;
}
.stars {
    color: #ff9700;
    margin: 5px 0 0 0;
    font-size: 1rem;
    animation-name: stars;
}

.product-info {
    top: -5px;
    position: relative;
}

.sold-out {
    background-color: #b19297;
    border-radius: 11px;
    font-family: 'SN Pro';
    margin-top: 5px;
    border-color:#ab772b;
    font-size: .7rem;
    font-weight: bold;
    padding: 2px 5px;
}

.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

footer {
    background-color: #ff9700;
    padding: 10px;
    position: absolute;
    width: 100vw;
}
    
.footer-info {
    margin: 10px;
} 

.add-to-cart {
    padding: 2px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
    background: #ffcbd4;
    overflow: hidden;
    border: 2px solid #ff0a78;
    color: #ff0a78;
    border-radius: 20px;
    font-family: 'SN Pro';
    margin-top: 5px;
    font-size: 0.7rem;
}
.add-to-cart:hover {
    color: #ffcbd4;
}
.add-to-cart:hover:after {
    height: 100%;
}
.add-to-cart:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #ff0a78;
}

button {
    background: #ff9700;
    color: #450922;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 86%;
    transition: background 0.3s;
    font-family: "Concert One"
}

.add-to-cart:hover {
    background: #ff0a78;
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after,
.underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0a78;
    bottom: 0;
    left: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease-out;
    
}

.underline:hover::after,
.underline:hover::before {
  transform: scaleX(1);
}

li a:hover {
    color: #ff0a78;
}

span:hover{
    color:#ff0a78;
}